@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Estilos para Chrome, Safari e versões mais recentes do Edge */
  ::-webkit-scrollbar {
    @apply w-1.5 touch-none select-none border-l border-l-transparent p-[1px] transition-colors;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-border relative rounded-full;
  }

  /* Estilos para Firefox */
  scrollbar {
    @apply w-1.5 touch-none select-none border-l border-l-transparent p-[1px] transition-colors;
  }

  scrollbar-thumb {
    @apply bg-border relative rounded-full;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .embla {
    @apply relative;
  }
  .embla__viewport {
    @apply overflow-hidden;
  }
  .embla__container {
    @apply grid auto-cols-max grid-flow-col gap-x-4;
  }

  .embla__prev {
    @apply absolute left-0 top-1/2 mx-4 -translate-y-1/2 transform;
  }

  .embla__next {
    @apply absolute right-0 top-1/2 mx-4 -translate-y-1/2 transform;
  }

  .card__description > p > svg {
    @apply fill-transparent transition-colors;
  }

  .card:has(.card__link:hover) .card__description > svg {
    @apply fill-yellow-200;
  }
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}
